/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: all 0.3s ease;
}

/* Estilos para el contenedor del formulario */
.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 255, 153, 0.7);
    margin-bottom: 20px;
    text-align: center;
}

/* Título de la página */
h1 {
    font-size: 2.5em;
    color: #00ff99;
    text-shadow: 0 0 10px #fff;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #00ff99;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    padding: 10px;
    border: 2px solid #00ff99;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 1.1em;
    resize: vertical; /* Permite cambiar el tamaño del textarea */
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: #00ff99;
}

textarea {
    height: 150px;
}

/* Botón de enviar */
button[type="submit"] {
    padding: 10px 20px;
    border: 2px solid #00ff99;
    background: #00ff99;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
}

/* Estilos para el enlace de volver */
a {
    color: #00ff99;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

a:hover {
    color: #fff;
}

/* Estilos para el botón de volver a la página principal */
.left-bottom-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    border: 2px solid #00ff99;
    background: #00ff99;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.left-bottom-btn:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
}