/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    font-family: 'Courier New', Courier, monospace;
    color: #00ff99; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #00ff99;
    margin-top: 20px;
    margin-bottom: 20px;
}


.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.post {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #00ff99; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.7); 
    text-align: center;
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; 
}


.post:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 153, 1); 
}


.delete-btn {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}


.delete-btn:hover {
    background-color: #ff6666; 
    box-shadow: 0 0 12px #ff6666; 
}


.post .btn {
    font-family: 'Courier New', Courier, monospace;
    background-color: #00ff99; 
    color: #000; 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}


.post .btn:hover {
    background-color: #00cc77; 
    box-shadow: 0 0 12px #00cc77; 
}


.left-bottom-btn, .right-bottom-btn {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #00ff99; 
    color: #000; 
    border: 2px solid #00ff99;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.7); 
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}


.left-bottom-btn:hover, .right-bottom-btn:hover {
    font-family: 'Courier New', Courier, monospace;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 153, 1); 
    background-color: #000; 
    color: #ff0000; 
}


.left-bottom-btn {
    left: 20px;
}


.right-bottom-btn {
    right: 20px;
}


@media (max-width: 768px) {
    .post-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 480px) {
    .post-container {
        grid-template-columns: 1fr; 
    }
}