/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff99;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #00ff99;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Contenedor de la cuadricula */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 960px;
    width: 100%;
}

/* Estilos para cada topic */
.topic-link {
    text-decoration: none;
    display: block;
    width: 100%;
}

.grid > .topic-link > .topic-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: #00ff99;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
    text-align: center;
    font-size: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Cuando el mouse pasa por encima */
.grid > .topic-link > .topic-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 153, 1);
    color: #fff; /* Mayor contraste */
}

/* Colores personalizados por tema */
.Java { background-color: #2E8B57; }
.Python { background-color: #306998; }
.JavaScript { background-color: #F7DF1E; color: black; }
.HTML { background-color: #E34F26; }
.VSCode { background-color: #0078D4; }
.IntelliJ { background-color: #000000; }
.C { background-color: #00599C; }
.Pascal { background-color: #E4A010; color: black; }
.MacOs { background-color: #343434; }

/* Botón flotante en la esquina inferior derecha e izquierda */
.add-topic-btn {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #00ff99;
    color: #000;
    border: 2px solid #00ff99;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}

/* Efecto hover en los botones */
.add-topic-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 153, 1);
    background-color: #000;
    color: #00ff99;
}

/* Posicionar el botón de la izquierda */
.left-bottom-btn {
    left: 20px;
}

/* Posicionar el botón de la derecha */
.add-topic-btn:not(.left-bottom-btn) {
    right: 20px;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
