<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Comentario</title>
    <link rel="stylesheet" href="addComment.css">
</head>
<body>

    <div class="container">
        <h1>Crear un nuevo Comentario</h1>
        <form action="/createComment" method="post">
            <input type="hidden" name="id">
            <div class="form-group">
                <label for="content">Comentario:</label>
                <textarea id="content" name="content" placeholder="Escribe tu comentario" required></textarea>
            </div>
        
            <button type="submit">Anadir comentario</button>
        </form>

        <a href="/init">Volver a la pagina principal</a>
    </div>

</body>
</html>
