<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Post</title>
    <link rel="stylesheet" href="/css/addComment.css">
</head>
<body>
    <div class="container">
        <h1>Crear un nuevo Post</h1>
        <form action="/addPost" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken.token}}">
            <div class="form-group">
                <label for="title">Title:</label>
                <textarea id="title" name="title" placeholder="Post Title" required></textarea>
                <label for="content">Post:</label>
                <textarea id="content" name="content" placeholder="Write your post" required></textarea>
                <label for="topic">Topic:</label>
                <select id="topic" name="tid" required>
                    <option value="" disabled selected>Select a topic</option>
                    {{#topics}}
                        <option value="{{id}}">{{topicName}}</option>
                    {{/topics}}
                </select>
            </div>
            <button type="submit">ADD POST</button>
        </form>
        <a href="/init">Return to main page</a>
    </div>
</body>
</html>