<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeHub - AddTopic</title>
    <link rel="stylesheet" href="addTopic.css"> <!-- Vincula el archivo CSS -->
</head>
<body>
    <div class="container">
        <h2>CodeHub - Add Topic</h2>
        
        <form action="/addTopic" method="post">
            <label for="topicName">Topic:</label><br>
            <input type="text" id="topicName" name="topicName" required><br>
            <button type="submit"> Add </button>
            <a href="/topic">
                <button type="button"> Return </button>
            </a>
            
        </form>
    </div>
</body>
</html>
