<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CodeHub</title>
  <link rel="stylesheet" href="init.css" />
</head>
<body>
  <div class="wrapper">
    <!-- side menu -->
    <nav id="sidebar" class="sidebar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/post">Posts</a></li>
        <li><a href="/topic">Topics</a></li>
        <li>
          <form class="logout-form" action="/logOut" method="get">
            <button type="submit" class="btn">Log Out</button>
          </form>
        </li>
      </ul>
    </nav>

    <div class="container">
      <header class="header">
        <button id="toggle-menu" class="menu-toggle">&#x22EE;</button>
        <h1 class="title">CodeHub</h1>
        {{#error}}
            <p style="color: red;">{{error}}</p> 
        {{/error}}
        {{#user}}
        <form class="profile" action="/acc" method="post">
          <button type="submit" class="btn profile-button">{{username}}</button>
        </form>
        {{/user}}
      </header>
      <main class="content-wrapper">
        <form class="search-form" action="/search" method="get">
          <input 
            type="text" 
            name="query" 
            class="search-bar" 
            placeholder="Search in CodeHub..."
          />
          <button type="submit" class="btn search-button">
            <span class="search-text">Search</span>
            <span class="search-icon">🔍</span>
          </button>
        </form>
      </main>
    </div>
  </div>

  <script src="toggleMenu2.js"></script>
</body>
</html>
