<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="post.css"> <!-- Ruta al archivo de estilo CSS -->
</head>
<body>
    <div class="post">
        {{#posts}}
        <h1><p><strong>{{title}}</strong></p></h1>
        <div class="user">
            <p>{{user}}</p>
        </div>
        <div class="content">
            <p>{{text}}</p>
        </div>
        <!-- Formulario para mostrar más detalles del post -->
        <form action="/showMorePost" method="POST"> <!-- Corregido: Utilizamos {{id}} dinámico -->
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn">Show more</button>
        </form>
        {{/posts}}
    </div>
</body>
</html>
