<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Completo</title>
    <link rel="stylesheet" href="/static/showMorePost.css">

</head>
<body>
   
    <div class="container">
        
       
        <div class="header">
            <div class="title">{{post.topic.name}}</div> 
        </div>

        <!-- Contenido del post -->
        <div class="content-wrapper">
            <h1>{{post.title}}</h1>
            <div class="user">
                <p><strong>Publicado por:</strong> {{post.user.username}}</p> <!-- Ajusta la variable según el objeto -->
            </div>
            <div class="content">
                <p>{{post.text}}</p>
            </div>
        </div>

        <!-- Botón para volver atrás o regresar a la lista de posts -->
        <a href="/post" class="btn">Go Back</a>
    </div>
</body>
</html>
