<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
</head>
<body>
    <h1>Topics</h1>
    <div class="grid">
        <div class="Java">Topic 1</div>
        <div class="Python">Topic 2</div>
        <div class="JavaScript">Topic 3</div>
        <div class="HTML">Topic 4</div>
        <div class="VSCode">Topic 5</div>   
        <div class="IntelliJ">Topic 6</div>
        <div class="C">Topic 7</div>
        <div class="Pascal">Topic 8</div>
        <div class="MacOs">Topic 9</div>
    </div>
</body>
</html>
