<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
    <link rel="stylesheet" href="topic.css">
</head>
<body>
    <h1>Topics</h1>
    <div class="grid">
        {{#topics}}
        <a href="/topic/{{id}}" class="topic-link">
            <div class="topic-item {{topicName}}">{{topicName}}</div>
        </a>
        {{/topics}}
    </div>
    <a href="/addTopic">
        <button class="add-topic-btn">Add Topic</button>
    </a>
    <a href="/init">
        <button class="add-topic-btn left-bottom-btn">Return</button>
    </a>
</body>
</html>
