<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload profile Image</title>
    <link rel="stylesheet" href="css/addComment.css">
</head>
<body>

    <div class="container">
        <h1>Upload profile Image</h1>
        <form action="/uploadProfilePicture" method="post" enctype="multipart/form-data">
            <input type="hidden" name="{{csrfToken.parameterName}}" value="{{csrfToken.token}}">
            <div class="form-group">
                <label for="file">Choose a Image:</label>
                <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png" required>
            </div>
            <button type="submit">Upload Image</button>
        </form>

        <a href="/acc">Return to Profile</a>
    </div>

</body>
</html>